name: workflow

on:
  push:
    tags:
      - '*.*.*'
    branches:
      - '**'
  merge_group:
  pull_request:
    branches:
      - main

env:
  CI: true

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Amsterdam
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: |
          npm ci --ignore-scripts --legacy-peer-deps
          npm run build
          npm run test

  github-pages:
    if: github.ref == 'refs/heads/main'
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: |
          npm ci --ignore-scripts --legacy-peer-deps
          npm run build-app

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist/ngx-translate-module-loader-app/browser

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [test]
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Amsterdam
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
      - run: |
          npm ci --ignore-scripts --legacy-peer-deps
          npm run build
      - run: |
          cp README.md dist/ngx-translate-module-loader
          cd dist/ngx-translate-module-loader

          version=${{ github.ref_name }}
          sed -i "s/\"version\": \"[^\"]*\"/\"version\": \"$version\"/" ./package.json

          npm publish
